.popup-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-submit-disable{
    display: none;
}

.popup-submit-container {
    width: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    border-radius: 50px;
    border: 3px solid #69BE31;
    position: relative;
}

.popup-submit-box{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-submit-title{
    width: 473px;
    font-family: "ArsenalSC", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: auto;
    font-weight: 700;
    color: #69BE31;
    text-align: center;
    margin: 0 0 30px 0;
}

.popup-submit-subtitle{
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #f6f6f6;
    text-align: center;
    margin: 0 0 50px 0;
}

.popup-submit-link{
width: 100%;
height: 73px;
border-radius: 100px;
text-align: center;
background-color: #69BE31;
font-family: "Manrope", Arial, Helvetica, sans-serif;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
font-weight: 400;
color: #111111;
transition-duration: 0.2s;
border: none;
margin-bottom: 20px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}

.popup-submit-link:hover{
transition-duration: 0.2s;
box-shadow: 0 0 30px #69be31;
}