.results-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.result-img-container {
  width: 560px;
  height: 560px;
  margin: 40px 0 0 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-arrow {
  visibility: inherit;
  z-index: 1;
  width: 53px;
  height: 53px;
  border-radius: 25px;
  background-color: rgba(36, 36, 36, 0.8);
  border: none;
  transition-duration: 0.2s;
}

.result-arrow:hover {
  background-color: #69be31;
  transition-duration: 0.2s;
}

.result-left {
  margin-left: 30px;
  background-image: url(../../../media/help-slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 29px;
}
.result-right {
  margin-right: 30px;
  background-image: url(../../../media/help-slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 29px;
  transform: rotate(180deg);
}

.result-img {
  width: 560px;
  height: 560px;
  border-radius: 50px;
  position: absolute;
}

.result-paragraph-container {
  width: 600px;
  margin: 0 0 20px 0;
}

.result-paragraph-title {
  color: #f6f6f6;
  margin: 0;
  margin-top: 40px;
  font-family: "ArsenalSC", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1em;
  font-weight: 400;
}

.result-paragraph-list {
  margin-top: 30px;
}

.result-paragraph-add-contaner {
  display: none;
}

@media screen and (max-width: 1440px) {
  .results-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }

  .result-img-container {
    width: 560px;
    height: 560px;
    margin: 40px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .result-arrow {
    z-index: 1;
    width: 53px;
    height: 53px;
    border-radius: 25px;
    background-color: rgba(36, 36, 36, 0.8);
    border: none;
    transition-duration: 0.2s;
  }

  .result-img {
    width: 560px;
    height: 560px;
  }

  .result-paragraph-container {
    width: 674px;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 833px) {
  .results-slider {
    position: relative;
    margin-top: 50px;
  }

  .results-position-container {
    position: absolute;
    top: -105px;
  }

  .result-img-container {
    width: 325px;
    height: 325px;
    margin: 75px 0 0 20px;
  }

  .result-arrow {
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(36, 36, 36, 0.8);
    border: none;
    transition-duration: 0.2s;
  }

  .result-arrow:hover {
    background-color: #69be31;
    transition-duration: 0.2s;
  }

  .result-left {
    margin-left: 25px;
    background-position: 6px center;
    background-size: 16px;
  }
  .result-right {
    margin-right: 25px;
    background-position: 6px center;
    background-size: 16px;
  }

  .result-img {
    width: 325px;
    height: 325px;
  }

  .result-paragraph-container {
    width: 325px;
    margin-bottom: 0;
  }

  .result-paragraph-title {
    color: #f6f6f6;
    margin: 0;
    margin-top: 25px;
    font-size: 24px;
    line-height: auto;
  }

  .result-paragraph-list {
    margin-top: 10px;
  }

  .result-paragraph-add-contaner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px 0 25px;
  }

  .result-add-text {
    color: #69be31;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: 400;
  }

  .result-add-img {
    width: 22px;
    height: 22px;
    fill: #69be31;
  }
}
